{%extends 'base.html'%}
<!--base.html 불러오는 명령어-->

{%block contents%}

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Yeonjun Site</h1>
        <p class="lead my-3">Can one ever remember love? It's like trying to summon up the smell of roses in a cellar.
            you might see a rose, but never the perfume.
            <br>
            어느 누가 이전의 사랑을 기억해 낼 수 있을까? 그것은 지하실 속에서 장미향기를 풍겨나게 하는 것과 같다.
            장미꽃은 눈에 보일지 모르지만 그윽한 장미꽃 향기는 결코 맡지 못할 것이다.

        </p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">인스타: wwww.instaram.com</a></p>
    </div>
</div>

{%endblock%}